.campo_formulario_stec_nuevo{

    background-image:url('/imagenes/f_repara_st.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  


    height:32rem;
    width:100%;
    display:flex;
    flex-wrap:wrap;

    padding-top:1rem;
}

.imagen_stec_nuevo{


    display:flex;
    justify-content:center;
    align-items:center;

    height:100%;
    width:60%;
}

.imagen_stec_nuevo > img{
    height:100%;
}

.formulario_stec_nuevo{


    display:flex;
    justify-content:center;
    align-items:center;

    height:100%;
    width:40%;
}
.div_texto_stecnico{
	
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2rem 0;
}


@media screen and (max-width:768px){
    .imagen_stec_nuevo{
    
        height:40%;
        width:100%;
    }

    .formulario_stec_nuevo{
    
        height:50%;
        width:100%;
    }

    .campo_formulario_stec_nuevo{
    
        height:64rem;
        
    }
    .imagen_stec_nuevo > img{
        width:100%;
        height:auto;
    }

    .titular_con_logo_stec_new > img{
        width:100%;
        height:auto;
    }
}