.campos_cursos_nuevo{
 
    
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;

    box-sizing: border-box;
    padding:1rem;
}

.campos_cursos_nuevo > .curso_x{
    /*  background-color:blue;  */
	 /*   display:flex; */
    
    display:flex;
    justify-content:center;
    align-items:center;

    width:20rem;
    height:20rem;
    /* border: 1px solid black; */
}
.campos_cursos_prod_nuevo{
 
    
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;

    box-sizing: border-box;
    padding:1rem;
}

.campos_cursos_prod_nuevo > .curso_x{
    /*  background-color:blue;  */
	 /*   display:flex; */
    
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    width:20rem;
    height:20rem;
    /* border: 1px solid black; */
}
.campos_cursos_stec_nuevo{
 
    
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;

    box-sizing: border-box;
    padding:1rem;
}

.campos_cursos_stec_nuevo > .curso_x{
    /*  background-color:blue;  */
	 /*   display:flex; */
    
    display:flex;
    justify-content:center;
    align-items:center;

    width:20rem;
    height:20rem;
    /* border: 1px solid black; */
}