.barra_menu{
    /*background-color:red;*/
    height:6rem;
    display:flex;
    justify-content:space-between;
    /*background-color:red;*/
    background-color:#fff;
    position:fixed;
    width:100%;
    box-shadow: 0px 14px 9px -4px rgba(0, 0, 0, 0.294);
}


.division_barra{
    height:6rem;
}

.imagen_barra_menu{
    /*background-color:blue;*/
    /*width:20rem;*/
    height:100%;
}

.logo{
    margin-top:4px;
    width:15%;
    min-width:300px;
    max-width:300px;
    margin-right:20px;
	margin-left:20px;
	position:absolute;
}

.enlaces_menu{
    /*background-color:green;*/
    width:60rem;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media screen and (max-width: 800px){
    .enlaces_menu{
        /*background-color:yellow;*/
    }
    .logo{
        margin-right:0;
        margin-left:0;
    }
}
