:root {
    --azul_principal: rgba(59, 101, 168);
    --verde_principal:rgba(9, 167, 134);
    --color_plomo:#e6e7ea;
  }

*{
    margin:0;
    padding:0;
    font-family:arial;
}

.linea_division{
    margin-top:3rem;
	    width:100%;
    height:1rem;
    background-color:#ff8225;
}
.titular_con_logo_new{

    display:flex;
    justify-content:center;
    align-items:center;
    padding:1rem;
    overflow:hidden;
    background-color:var(--color_plomo);

    padding-top:2rem;
}
.titular_con_logo_prod_new{

    display:flex;
    justify-content:center;
    align-items:center;
    padding:1rem;
    overflow:hidden;

    padding-top:2rem;
}
.titular_con_logo_stec_new{

    display:flex;
    justify-content:center;
    align-items:center;
    padding:1rem;
    overflow:hidden;

    padding-top:2rem;
}

.titular_con_logo_new > img{
	    
	 height:50% 
    /* width:50%; */
	    margin-right:0.5rem;
    max-height:40px; 
	}
.titular_con_logo_prod_new > img{
 	 height:50%;
    margin-right:0.5rem;
    max-height:40px; 
}
.titular_con_logo_stec_new > img{
 	 height:50%;
    margin-right:0.5rem;
    max-height:40px; 
}
.parte_texto_new > p{
    padding:1rem;
    padding-bottom:2rem;
}

.parte_texto_new{
    width:80%;
    text-align:justify;
    font-size:1.2rem;
    color:rgb(98, 98, 98);
}
