.campo_formulario_nuevo{
    background-color:var(--color_plomo);

    height:32rem;
    width:100%;
    display:flex;
    flex-wrap:wrap;

    padding-top:1rem;
}

.imagen_nuevo{


    display:flex;
    justify-content:center;
    align-items:center;

    height:100%;
    width:60%;
}

.imagen_nuevo > img{
    height:100%;
}

.formulario_nuevo{


    display:flex;
    justify-content:center;
    align-items:center;

    height:100%;
    width:40%;
}
.div_texto_educacion{
		    background-color:#e6e7ea;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2rem 0;
}


@media screen and (max-width:768px){
    .imagen_nuevo{
        background-color:#e6e7ea;
    
        height:50%;
        width:100%;
    }

    .formulario_nuevo{
        background-color:#e6e7ea;
    
        height:50%;
        width:100%;
    }

    .campo_formulario_nuevo{
    
        height:64rem;
        
    }

    .imagen_nuevo > img{
        width:100%;
        height:auto;
    }
}