body{
    /*background-image:url("/Imagenes/Fondo_textilería.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    font-family:arial;
}

.div_formulario{
    display:flex;
	
  /*  background-image:url('/imagenes/f_educacion.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
}


.parte_texto{
 
    width:60%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.parte_texto img{
 
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.parte_formulario{

    width:45vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.contenedor_formulario{
    background-color:#3b65a8c7;
    width:60%;
    height:70vh;
    border-radius: 26px 26px 26px 26px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.342);
}

.contenedor_transparente_texto{
    width:80%;
    height:60%;
    display:flex;
    align-items:center;
    
}



.texto_principal{
    color:white;
    font-family:"Comic Sans MS", cursive;
    font-size:5.3rem;
    line-height: 5.55rem;
    word-spacing:-4px;
    text-shadow: 10px 5px 5px rgba(20, 14, 14, 0.5);
    
}

.cabecera_formulario {
    color:white;
    font-size:20px;
  /*  text-decoration:underline; */
    text-align:center;
}
.pie_formulario {
    margin-top: 0.5rem;
    color:white;
    font-size:15px;
  /*  text-decoration:underline; */
    text-align:center;
}

.formulario_oficial{
    width:78%;
    height:78%;
}

.campos_formulario{
    color:white;
    font-size:0.8rem;
    margin-top:1rem;
    display:flex;
    flex-direction:column;
}

.campos_formulario label{
    font-size:1rem;
}

input[type=text]{
    border-radius:2rem;
    border: none;
    padding:0.2rem 1rem;
    width:80%;
    height:2rem;
    font-size:0.8rem;
    outline: none;
    color:rgb(73, 73, 73);
}

input[type=text]:focus {
    border: none;
}

.label_form{
    margin-bottom:0.2rem;
}

input[type=submit]{
    font-size:1.5rem;
    width:50%;
    border-radius:2rem;
    color:#3b65a8;
    border:none;
    outline: none;
}

input[type=submit]:hover{
    background-color:#3b65a8c7;
    color:white;
}

input[type=submit]:focus{
    background-color:white;
    color:#3b65a8c7;
    border:3px solid #3b65a8c7;
}

.contorno_boton{
    display:flex;
    justify-content:center;
    margin-top:3rem;
}



@media screen and (max-width: 900px){
    .div_formulario{
        flex-direction:column;
    }
    .parte_texto{
        width:100vw;
        height:30vh;
    }
    .parte_formulario{
        width:100vw;
        height:90vh;
    }
    .contenedor_formulario{
        width:85%;
    }
    .texto_principal{
        font-size:3rem;
        line-height: 3rem;
    }

}

@media screen and (max-width: 450px){
    .texto_principal{
        font-size:2.5rem;
        line-height: 2.5rem;
    }
    .campos_formulario{
        color:white;
        font-size:1.5rem;
        margin-top:1rem;
    }
    .contorno_boton{
        margin-top:2vh;
    }
    .cabecera_formulario{
        font-size:2rem;
    }
    input[type=submit]{
        font-size:1.6rem;
        
    }
    .parte_formulario{
        height:65vh;
    }
    .parte_texto{
        height:15vh;
    }
    .contenedor_formulario{
        height:60vh;
    }
}